html, body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
    background-color: dimgrey;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

footer {
    height: 50px;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* This should be the same height as the footer */
    box-sizing: border-box;
    padding-bottom: 50px; /* This should be the same height as the footer */
}

ul {
    cursor: pointer;
}

.issueDescriptionContainer {
    /* higher the z-index the closer to the top of the stack  */
    z-index: 9000;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: large;
}
.issueDescriptionContainer {
    overflow: hidden;
    overflow-y: scroll;
}
.description_box {
    width: 300px;
    height: 300px;
}
.hideDescriptionBtn {
    border-color: black;
    right: 5%;
    top: 5%;
    position: fixed;
}

#trash_bin {
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}