<header>
      <h1>GitBuddy</h1>
</header>
<main>
      <div>
            <h3>Search by User</h3>
            <form>
                  <label for="username">Username</label>
                  <input id="username_input_value" type="text" placeholder="search for a username" name="username" />
                  <button id="submit_input_button" type="submit">Submit</button>
            </form>
      </div>
      <div id="results_parent_container">
            <h2>Showing repositories for: <span id="search_value_span_el"></span></h2>
            <div id="search_results_div"></div>
      </div>
</main>
<script src="/javascript/homepage.js"></script>