<header>
      <h1>GitBuddy</h1>
</header>
<main>
      <div>
            <h3>Search by User</h3>
            <form class="input-group m-3">
                  <label class="form-label m-2" for="username">Username</label>
                  <input class="input-group-text" id="username_input_value" type="text" placeholder="search for a username" name="username" />
                  <button class="btn btn-light" id="submit_input_button" type="submit">Submit</button>
            </form>
      </div>
      <div id="results_parent_container">
            <h2>Showing repositories for: <span id="search_value_span_el"></span></h2>
            <div id="search_results_div"></div>
      </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/homepage.js"></script>