<header>
      <button type="button" href="./index.html">Back</button>
</header>

<main>
      <div>
            <h1>Active issues for: <span id="single_search_result"></span></h1>
            <div id="single_search_result_issues_list"></div>
      </div>
</main>